    .animate-fade-in {
        animation: fadeIn 0.7s both;
    }

    .animate-fade-in-up {
        animation: fadeInUp 0.7s both;
    }

    .animate-slide-down {
        animation: slideDown 0.6s both;
    }

    .animate-slide-in-down {
        animation: slideInDown 0.5s both;
    }

    .animate-slide-in-up {
        animation: slideInUp 0.5s both;
    }

    .animate-pop {
        animation: pop 0.3s both;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(30px);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @keyframes slideInDown {
        from {
            opacity: 0;
            transform: translateY(-40px);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @keyframes slideInUp {
        from {
            opacity: 0;
            transform: translateY(40px);
        }

        to {
            opacity: 1;
            transform: none;
        }
    }

    @keyframes pop {
        0% {
            transform: scale(0.7);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }